#teams-general .description {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #d7ecd9;
    transform: translateY(0);
    border-radius: 15px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teams-general .team {
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 0px;
    margin-top: 0px;
}

    #teams-general .team:hover {
        transform: scale(1.81);
    }

        #teams-general .team:hover .description {
            transform: translateY(-100%);
        }

#teams-general .description h1 {
    font-size: 20px;
    color: #5F9EA0;
}


#teams-general .description h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #214e34;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}

#teams-general .description p {
    color: #fff;
    text-align: justify;
    padding: 1px 15px;
}
