

#teams-general .description {
    font-family: Century Gothic;
    width: 150px;
    height: 130px;
    position: relative;
    background-color: #d7ecd9;
    transform: translateY(0);
    border-radius: 15px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

#teams-general .team {
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 40px;
    margin-top: 40px;

}

    #teams-general .team:hover {
        transform: scale(1.81);
    }

        #teams-general .team:hover .description {
            color: #214e34;
        }

#teams-general .description h1 {
    font-size: 20px;
    color: #5F9EA0;
}


#teams-general .description h2 {
    
    text-align: center;
    color: #214e34;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}

#teams-general .description p {
    color: #fff;
    text-align: justify;
    padding: 1px 15px;
}

#teams-general .button {

    text-align: center;
    cursor: pointer;
    padding-bottom: 40px;
    margin-top: 40px;
    transition: all 1s;
   
}

    #teams-general .button .description {
        
        background-color: #d7ecd9; /* Green */
        border: none;
        padding: 60px 30px 60px 30px;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        transition-duration: 0.4s;
    }

    #teams-general .button .description h2 {
        background-color: #d7ecd9; /* Green */
        border: none;
        color: #5F9EA0;
        padding: 15px 15px;
        text-decoration: none;
        display: inline-block;
        margin: 10px 10px 10px 10px;
        border-radius: 12px;
        transition-duration: 0.1s;
    }

    #teams-general .button:hover {
        transform: scale(1.51);
        background-color: #FAF9F6;
    }

    #teams-general .button:hover .description h2{
        color: #214e34;
    }
